.blog-posts{
    margin-top: 85px;
}
.blog-posts .post-item{
    font-size: 14px;
    color: #606060;
}
.blog-posts .post-item span{
    font-weight: normal;
}
.blog-posts .post-item span a{
    color: #bd8348;
}









